body {
    background-color: black;
    color: white;
  }
  div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
  }

  img {
    border: 5px solid white;
    width: 100%
  }

  .poster {
    margin-top: 100px;
  }
